*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(79, 176, 245);
    text-align: center;
    transition: background-color 0.3s ease;
}
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30vmin;
    height: 100vh;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
   
    border-radius: 1vmin;
    border: none;
    height: 18vmin;
    width: 18vmin;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: rgb(255, 209, 56);
    background-color:rgb(102, 190, 205);
}

.reset-btn{
    margin-top: 10%;
    font-weight: bolder;
    height: 5vmin;
    width: 15vmin;
    background-color: rgb(28, 119, 199);
    border: none;
    border-radius: 1vmin;
    font-size: 2vmin;  
    color: rgb(105, 9, 105);
    transition: all 0.3s ease-in-out;
    
}

.reset-btn:active{
    transform: scale(0.9);
}

.newgame{
    font-weight: bolder;
    height: 5vmin;
    width: 15vmin;
    background-color: rgb(79, 176, 245);
    border: none;
    border-radius: 1vmin;
    font-size: 2vmin;  
    color: rgb(105, 9, 105);
    transition: all 0.3s ease-in-out;
    
}

.newgame:active{
    transform: scale(0.9);
   
}
.message{
    position: absolute;
    left: 10%;
    top: 25%;
    height: 50%;
    width: 80%;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    padding: 1%;
    background-color: rgb(28, 119, 199);
    box-shadow: 0px 20px 30px 20px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s

    
}
#msg{
    padding: 1%;
    font-size: 7vmin;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.4s ease-in-out;
    color: rgb(255, 209, 56);
}

.player1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    height: 30vmin;
    width: 30vmin;
    background-color:rgb(79, 176, 245);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.7);
    border-radius: 100%;
    color:  rgb(255, 209, 56);
    transition: all 0.3s ease-in-out;
}
.player2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    height: 20vmin;
    width: 20vmin;
    background-color:rgb(248, 118, 118);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.7);
    border-radius: 100%;
    color:  rgb(255, 209, 56);
    transition: all 0.3s ease-in-out;
}

.turn{
    margin-bottom:1% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vmin;
    width: 60vmin;
    font-size:5vmin;
    color:  rgb(255, 209, 56);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}